/* .blocklyToolboxDiv{
    width: 10%;
    background-color: rgba(238, 245, 245, 0.925);
    }
    .blocklyFlyout{
        margin-left: 0%;
        width: auto;
        background-color:rgb(240, 244, 248) !important;

    }
 */
button{
    background-color: rgba(73, 77, 74, 0.767);
    float: right;
    display: flex;
    border: 1px gray;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    color: rgb(250, 250, 250);
}

.generator{
  /* float: left; */
  background-color: rgb(43, 45, 46);
  color: antiquewhite;
  width: 30%;
}
.code,.json,.settings{
    background-color: rgb(32, 33, 34);
    margin-top: 15%;
    width: 94%;
    height: 88%;
    margin-left: 3%;
    color: aliceblue;
}
textarea{
    height: 90%;
    width: 99%;
    background-color: rgb(32, 33, 34);
    color: aliceblue;
}

.blocklyPassiveBlock {
    opacity: 0.5; 
}
